
@import url('kube/kube.less');
@import url('less/custom-mixins.import.less');
@import url('less/less-media-queries.less');

/* =============================================================================
   Imports
   ========================================================================== */
// @import url('jvfloat.less');
// @import url('slick.less');
// @import url('fa/font-awesome.less');
// @import url('icomoon.less');

/* =============================================================================
   Layout Code
   ========================================================================== */
/*
 * Authors: John Gibby @thatgibbyguy || Quinton Jason @quintonjasonjr
 *
 * --------------
 *
 * Based on Kube
 * Detailed information about this CSS: http://imperavi.com/kube/
 *


/* Fonts ===================================================================== */


/* ==|== CSS Styles, IDs & Elements ===================================================== */


h1.brand{ width: 314px; height: 155px; margin-bottom: 0;
	a{ .block; width: 100%; height: 100%; .hide-text; background-image: url('img/chg-logo.svg'); }
}

header{ .relative; z-index: 1; padding: 3.5em 3.5em 3.5em 7em; height: 275px; }

#sidebar{ padding: 0 6em; border-right: 3px solid @main-brown;  }

.dark-hr{ height: 3px; border-top: 3px solid @main-brown; margin: 2.5em 0; }

#main-nav{
	ul{ margin-bottom: 0; }
	li{ .text-center; 
		&:last-child a{ margin-bottom: 0; }
	}
	a{ .headlines; .block; background: @main-brown; color: white; text-decoration: none; padding: 1em; margin-bottom: 1.5em; .trans; 
		&:hover,&:focus{ background: darken(@main-brown, 12%); }
	}
}

#content{ padding-top: 5em; margin-bottom: 0; }

#chg-copy{ padding: 0 4em 0 2.5em; max-width: 810px; }

#contact .bodycopy{ font-size: 90%; }

#slider { position: absolute; width: 100%; height: 275px !important; overflow: hidden; z-index: 0; 
	.mc-image{ width: 100%; height: 275px; }
}

footer{ height: 30px; background: url('img/footer-bg.png'); background-repeat: repeat-x; }

/* ==|== Custom LESS Variables ===================================================== */

@main-brown: #BA9E5D;

@kepler: "kepler-std", serif;
@proxima: "proxima-nova", sans-serif;
@serif: Georgia, Times, 'Times New Roman', serif;

/* ==|== Custom LESS Helpers ===================================================== */

.headlines{ .subhead; font-weight: 700; }
.subhead{ font-family: @proxima; .uppercase; }
.bodycopy{ font-family: @serif; font-weight: 400; font-size: 1em; }

.relative{ position: relative; }
.absolute{ position: absolute; }
.no-margin{ margin: 0; }
.no-padding{ padding: 0; }
.upper{ text-transform: uppercase; }
.centered{ text-align: center; }
.italic{ font-style: italic; }
.no-bull{ list-style: none; }
.show{ display: block; }
.hide{ display: none; }
.hide-text{ text-indent: -9999px; font-size: 0; }

.desktop-hidden{ .hide; @media @genericMobile{ .show; } }

// .list-flat{ margin: 0; list-style: none; }

/* ==|== Responsive Styles ===================================================== */

@media @largeScreenOne{
}

@media @largeScreenTwo{	
}

@media @largeScreenThree{	
}

@media @bpOne{
	header{ padding-left: 3em;  }
	#sidebar{ padding: 0 2em; }
	#chg-copy{ padding: 0 4em 0 0 }
}

@media @genericMobile{
	header{ height: 225px; }
	#slider{ height: 225px !important; }
	h1.brand{ width: 250px; height: 123px;  }
	#content{ padding-top: 3em; }
	#sidebar{ border: none; }
	#chg-copy{ padding: 0em 2em 0; }
}

@media @genericPhablet{
}

@media @genericPhone{ 
	h1.brand{ margin: 0 auto; width: 182px; height: 90px; }
	#slider{ height: 195px !important; }
	header{ height: 195px; }
	#content{ padding-top: 1.5em; }
}

